<div id="actions_container">
    <ul id="actions">
        {% for action in parms.actions %}
            <li id="action{{action.action.pk}}">
                {% include 'game/action.html' with action=action.action char=action.char phrase=action.action_phrase flavour=action.char_flavour rolls=action.rolls form=action.form %}
            </li>
        {% endfor %}
    </ul>
    <script>
        setInterval(function() {
                       $.ajax({
                           type: "GET",
                           url: "{% url 'get_actions'  %}",
                           success: function(data)
                           {
                               $.each(data.new, function(key,val) {
                                    $.get("{% url 'get_action' %}?action="+val, function(data){
                                        $('#actions').append('<li id="action'+val+'">'+data+'</li>');
                                    });
                               });
                               $.each(data.updated, function(key,val) {
                                    $('#action'+val).load("{% url 'get_action' %}?action="+val)
                               });
                           }
                         });
                    }
                , 15000);
    </script>
</div>