{% load extra_tags %}
{% load static %}
<div class="inner_action_container {% if muted %}muted {% endif %}{% if hidden %}hidden{% endif %}" added="{{action.added}}">
<div class="row" style="margin-bottom: -10px;">
    <div class="col-md-2" style="padding-right: 0px; width: fit-content;">
            <div class="act_tooltip" style="margin-left: 10px">{{char}}<div class="act_tooltiptext">{{char_flavour}}</div></div>
    </div>
    <div class="col-md-9 action_text_wrap">
        {{action.action}}
    </div>
    <p class="pull-right text-muted">{{action.scene_name}}</p>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="row">
            <div class="col-md-12">
                {% if action.language is not None %}
                    <div class="msg-text">
                        <span class="pull-left marking">{{lang}}</span>
                        {{ phrase }}
                    </div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 response_text_wrap" style="color: #ab7373; padding-left: 35px">
                {% if form.present %}
                    <form id="gmform{{action.pk}}" method="POST" action="{{form.action}}?action={{action.pk}}">
                        {% csrf_token %}
                        {{ form.form.id }}
                        {{ form.form.response|attr:"rows:2"|attr:"style:width:100%" }}
                        <button type="button" style="padding-right: 5px;" class="btn btn-default" id="editaction{{action.pk}}"><span class="glyphicon glyphicon-edit"></span>Редактировать</span></button>
                        <script>
                            $("#editaction{{action.pk}}").on("click", function(){
                                $('#modal_content').load("{% url 'edit_action' action.pk %}");
                                $('#modal_show').click()
                            });
                        </script>
                        <button type="submit" value="" class="btn btn-success pull-right"><span class="glyphicon glyphicon-saved"></span>Завершить</button>
                    </form>
                    <script>
                        $('#gmform{{action.pk}}').submit(function(e) {
                            e.preventDefault();
                            var url = $('#gmform{{action.pk}}').attr('action');
                            $.ajax({
                                   type: "POST",
                                   url: url,
                                   data: $('#gmform{{action.pk}}').serialize(), // serializes the form's elements.
                                   success: function(data)
                                   {
                                       $('#action{{action.pk}}').html(data)
                                   }
                                 });
                        });
                    </script>
                {% else %}
                    {{action.response}}
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-md-6 pull-right" style="padding-right: 30px; width: fit-content;">
        {% for roll in rolls %}
        <div class="row panel panel-default" style="margin-bottom:5px;">
            <div class="col-md-12">
                <a class="pull-left" style="padding-right: 10px;" id="edit{{roll.key}}"><img src="{% static 'tools/images/dice_25.png' %}"></a>
                {{ roll.char }}({{ roll.parm }}):
                <span class="act_tooltip">{{ roll.parms.dice_roll }}<span class="act_tooltiptext">1d{{ roll.parms.base_dice }}</span></span>
                + {{ roll.parms.bonus }}
                =
                {{ roll.parms.cool_sum }}
                <span class="glyphicon glyphicon-transfer"></span>
                <span class="">{{ roll.parms.difficulty }}</span>
                <span class="glyphicon glyphicon-arrow-right"></span>
                {{ roll.parms.result }}
                {% if roll.parms.passed == 'true' %}
                    <span class="glyphicon glyphicon-ok" style="color: green"></span>
                {% elif roll.parms.passed == 'false' %}
                    <span class="glyphicon glyphicon-remove" style="color: red"></span>
                {% elif roll.parms.passed == 'tie' %}
                    <span class="glyphicon glyphicon-ban-circle" style="color: #b1b10b"></span>
                {% else %}
                    <span class="glyphicon glyphicon-eye-close"></span>
                {% endif %}
                {% if form.present %}
                <script>
                    $('#edit{{roll.key}}').on("click", function(){
                        $('#modal_content').load("{% url 'edit_roll' roll.key %}");
                        $('#modal_show').click()
                    });
                </script>
                {% endif %}
            </div>
        </div>
    {% endfor %}
        {% if form.present %}
            <div class="row" style="margin-bottom: 5px">
                <div class="col-md-12">
                    <button id="newroll{{action.pk}}" class="pull-right btn btn-default"><img src="{% static 'tools/images/dice_25.png' %}"></button>
                    <script>
                        $('#newroll{{action.pk}}').on("click", function(){
                            $("#modal_content").load("{% url 'add_roll' action.pk %}");
                            $("#modal_show").click()
                        });
                    </script>
                </div>
            </div>
        {% endif %}
    </div>
</div>
    <script>

        $('.action_text_wrap').each(function() {
            $(this).findLinkMakeLink('LINK');
        });
        $('.response_text_wrap').each(function() {
            $(this).findLinkMakeLink('LINK');
        });
        $(document).ready(function() {
            $(".livepreview").livePreview({
                trigger: 'hover',
                viewWidth:  300,
                viewHeight: 200,
                targetWidth: 1860,
                targetHeight: 900,
                offset: 10,
                position: 'right'
            });
            $("a.livepreview").off("click").on("click", function(e) {
                e.preventDefault();
                $('#modal_content').load("{% url 'modal_frame' %}?href="+$(this).attr("href"));
                $('#modal_show').click()
            });
        });
        $.each($('.inner_action_container'), function(){
            if ($(this).hasClass("hidden")) {
                if (!$(this).parent().parent().hasClass("hidden")) {
                    $(this).parent().parent().addClass("hidden");
                }
            } else {
                if ($(this).parent().parent().hasClass("hidden")) {
                    $(this).parent().parent().removeClass("hidden");
                }
            }
        });
    </script>
</div>