{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'game/action_log.css' %}">

<div id="actions_container" class="panel panel-default">
    <div class="pic-header panel-heading">
            <h4 class="panel-title"><span class="act_tooltip">{{parms.game}}<span class="act_tooltiptext">{{parms.game.flavour}}</span></span>
                {% if parms.gm %}<span class="pull-right">Ссылка на игру: <input id="hashlink" type="text"><span class="glyphicon glyphicon-refresh" id="rehash_game"></span></span>
                <script>
        $('#hashlink').val(rel_to_abs("{% url 'join_game' gamehash=parms.game.invite %}"));
        $('#rehash_game').on("click", function(){
             $.ajax({
                   type: "GET",
                   url: "{% url 'rehash' parms.game.invite %}",
                   success: function(data)
                   {
                      $('#hashlink').val(rel_to_abs(data.newhash));
                   }
                 });
        });
    {% else %}
            </h4>
    {% endif %}
</script>
    </div>
    <div id="actions" class="msg-wrap" >
        {% for action in parms.actions %}
            <div  class="clearfix msg">
                <div class="col-md-12" id="action{{action.action.pk}}">
                    {% include 'game/action.html' with action=action.action char=action.char phrase=action.action_phrase flavour=action.char_flavour rolls=action.rolls form=action.form lang=action.lang muted=action.muted %}
                </div>
            </div>
        {% endfor %}
    </div>
    <script>
    scrollMessages = function() {
        setTimeout(function() {
            $('#actions').scrollTop($('#actions')[0].scrollHeight);
        }, 1000)
    }
    scrollMessages();
    update_actions = function() {
                       $.ajax({
                           type: "GET",
                           url: "{% url 'get_actions'  %}",
                           success: function(data)
                           {
                               $.each(data.new, function(key,val) {
                                    $.get("{% url 'get_action' %}?action="+val, function(data){
                                        $('#actions').append('<div class="clearfix msg"><div class="col-md-12" id="action'+val+'">'+data+'</div></div>');
                                    })
                               });
                               if (data.new.length > 0) {
                                    scrollMessages();
                               }
                               $.each(data.updated, function(key,val) {
                                    $('#action'+val).load("{% url 'get_action' %}?action="+val);
                               });
                           }
                         });
    }
        setInterval(function() {
                    update_actions()
                }
                , 10000);
    </script>
</div>
<div class="row">
    <div class="col-md-12" id="form_container">

    </div>
</div>