<div id="char_list_container">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'game/charparm.css' %}" />
<form method="POST" action="{{ parms.action_url }}" id="char_list">
{% csrf_token %}
{{ parms.formset.management_form }}
<div>
    <div class="row">
        <div class="col-md-12">

        </div>
    </div>
    {% for form in parms.formset %}
        <div class="pic-paperback row panel panel-default">
            <div class="col-md-12">
                <a href="{% url 'char_edit' form.instance.pk %}" class="char_edit_link">{{ form.instance.name }}</a>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-12">
                        <div class="row"><div class="col-md-6"><label>Известен</label></div><div class="col-md-2">{{ form.known }}</div></div>
                        <div class="row"><div class="col-md-6"><label>Пауза</label></div><div class="col-md-2">{{ form.pause }}</div></div>
                        <div class="row"><div class="col-md-6"><label>Левелап</label></div><div class="col-md-2">{{ form.levelup }}</div></div>
                    </div>
                </div>
            </div>
            <div class="col-md-5">
                <div class="row">
                    <div class="col-md-6"><label>Удалить</label></div><div class="col-md-2">{{ form.DELETE }}</div>
                </div>
                <div class="row">
                    <div class="col-md-4"><label>Опыт</label></div><div class="col-md-6">{{ form.experience }}</div>
                </div>
                <div class="row">
                    <div class="col-md-4"><label>Сцена</label></div><div class="col-md-6">{{ form.scene }}</div>
                </div>
            </div>
            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}
        </div>
    {% endfor %}
    <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-2">
            <a href="{% url 'new_npc' %}" class="glyphicon glyphicon-plus add_group_button btn-success" style="text-decoration: none; margin-top: 3px;" type="button"></a>
        </div>
        <div class="col-md-5">
            <input type="submit" value="Сохранить" class="btn btn-success">
        </div>
    </div>
</div>
</form>

<script>
    $(document).ready(function(){
        $('#form_container').load("{% url 'action_submit' -1 %}");
    })
    $(".char_edit_link").on("click", function(e) {
        $('#char_list_container').parent().load($(this).attr("href"));
        return false;
    });
    $("#char_list").submit(function(e) {
        var url = $("#char_list").attr('action');
        $.ajax({
               type: "POST",
               url: url,
               data: $("#char_list").serialize(), // serializes the form's elements.
               success: function(data)
               {
                   $('#char_list_container').parent().html(data)
               }
             });
        e.preventDefault(); // avoid to execute the actual submit of the form.
    });
</script>
</div>