<div id="char_container">
{% load static %}
{% load extra_tags %}
<link rel="stylesheet" type="text/css" href="{% static 'game/tooltip.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'game/charparm.css' %}" />
<script src="{% static 'tools/superformset.js' %}"></script>

    {{ parms.character.name }} [<span id="exp">{{ parms.character.experience }}</span>]
<form method="POST" action="{{ parms.action_url }}" id="charparms">
{% for group in parms.groups %}
    <div class="group" id="grp{{ group.group.pk }}">
        <div class="empty-form dynamic-form hidden">
            {{ group.charparm_formset.empty_form }}
        </div>
         <script>

        </script>
    <div class="cp_tooltip">
        {{ group.group.name }}
        <div class="cp_tooltiptext">{{ group.group.flavour }}</div>
    </div>
        <div class="selector">
        {% csrf_token %}
        {{ group.charparm_formset.management_form }}
        {% for form in group.charparm_formset %}
        {% if form.instance.override_cost > -1 %}
        {% define form.instance.override_cost as cost %} defined {{ cost }}
        {% else %}
        {% define group.group.cost as cost %}
        {% endif %}
        <div class="charparm">
            {{ form.id }}
            <div class="hidden">{{ form.name }} {{ form.flavour }}</div>
            <div class="cp_tooltip">
                {{ form.name.initial }}
                    {{ form.value }}
                    <span class="char_buttons" cost="{{ cost }}" initial="{{ form.value.initial }}">
                        <button type="button" class="btn btn-success btn-number btnplus" data-type="plus" data-field="quant[2]">
                        +
                        </button>
                        <button type="button" class="btn btn-danger btn-number btnminus"  disabled data-type="minus" data-field="quant[2]">
                        -
                        </button>
                    </span>
                <span class="cp_tooltiptext">{{ form.flavour.initial }}</span>
            </div>
        </div>
        {% endfor %}
        </div>
    </div>
{% endfor %}
    <script>

        $('.btnplus').each(function(){
            exp = +$('#exp').html();
            cost=+$(this).parent().attr("cost");
            if (exp-cost<0) {
                $(this).attr("disabled", true);
            } else {
                $(this).attr("disabled", false);
            }
         });
      $('.btnplus').on("click", function(){
        exp = +$('#exp').html();
        initial = +$(this).parent().attr("initial");
        cost = +$(this).parent().attr("cost");
        val = +$(this).parent().prev().val();
        if (exp-cost < 0) {
            return true
        }
        $('#exp').html(exp-cost);
        $(this).parent().prev().val(val+1);
        $('.btnplus').each(function(){
            exp = +$('#exp').html();
            cost=+$(this).parent().attr("cost");
            if (exp-cost<0) {
                $(this).attr("disabled", true);
            } else {
                $(this).attr("disabled", false);
            }
         });
        $('.btnminus').each(function() {
            if ($(this).parent().prev().val()==$(this).parent().attr("initial")) {
                $(this).attr("disabled", true);
            } else {
                $(this).attr("disabled", false);
            }
        });

      });
      $('.btnminus').on("click", function(){
        exp = +$('#exp').html();
        initial = +$(this).parent().attr("initial");
        cost = +$(this).parent().attr("cost");
        val = +$(this).parent().prev().val();
        if (val<=initial) {
            return true;
        }
        $('#exp').html(exp+cost);
        $(this).parent().prev().val(val-1);
        $('.btnplus').each(function(){ exp = +$('#exp').html(); cost=+$(this).parent().attr("cost"); if (exp-cost<0) {$(this).attr("disabled", true); } });
        if ($(this).parent().prev().val()==$(this).parent().attr("initial")) {
            $(this).attr("disabled", true);
        } else {
            $(this).attr("disabled", false);
        }
      });
      $('#charparms input[type=number]').attr("disabled", true)
      $("#charparms").submit(function(e) {
        $('#charparms :input:not(button)').each(function(){$(this).attr("disabled", false)});
        var url = $("#charparms").attr('action');
        $.ajax({
               type: "POST",
               url: url,
               data: $("#charparms").serialize(), // serializes the form's elements.
               success: function(data)
               {
                   $('#char_container').parent().html(data)
               }
             });
        e.preventDefault(); // avoid to execute the actual submit of the form.
    });
    </script>
    <button type="submit" name="charparmssubmit" value="Сохранить">Сохранить</button>
</form>
</div>