<div id="char_container">
{% load static %}
{% load extra_tags %}
<link rel="stylesheet" type="text/css" href="{% static 'game/tooltip.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'game/charparm.css' %}" />
    {{ parms.character.name }} [<span id="exp">{{ parms.character.experience }}</span>]
<form method="POST" action="{{ parms.action_url }}" id="charparms">
{% for group in parms.groups %}
    <div class="group">
    <div class="cp_tooltip">
        {{ group.group.name }}
        <div class="cp_tooltiptext">{{ group.group.flavour }}</div>
    </div>
        {{ group.charparm_formset.management_form }}
        {% csrf_token %}
    {% for form in group.charparm_formset %}
        {% if form.instance.override_cost != -1 %}
            {% define form.instance.override_cost as cost %}
        {% else %}
            {% define group.group.cost as cost %}
        {% endif %}
        {% for hidden in form.hidden %}
        {{ hidden }}
        {% endfor %}
        <div class="cp_tooltip charparm"><span>{{ form.name.initial }}</span>
        <div class="cp_tooltiptext">{{ form.flavour.initial }}
        </div>
            <div class="value_div">
            {% if cost != -1 %}
                <button type="button" class="btn btn-danger btn-number minusbtn" min="{{ form.value.initial }}" cost="{{ cost }}" data-type="minus">
                <span class="glyphicon glyphicon-minus"></span>
                </button>
                {{ form.value }}
             <button type="button" class="btn btn-success btn-number plusbtn" cost="{{ cost  }}" data-type="plus">
                  <span class="glyphicon glyphicon-plus"></span>
              </button>
                {% else %}
                {{ form.value }}
            {% endif %}
            </div>
        </div>
    {% endfor %}
     </div>
{% endfor %}
    <script>
    $('.plusbtn').on("click", function(){
        exp = +$('#exp').html()
        if (+exp-$(this).attr("cost")<0) {
            return false;
        }
        num = +$(this).prev().val()+1
        exp = +exp-$(this).attr("cost")
        $('#exp').html(exp)
        $(this).prev().val(num)

    });
    $('.minusbtn').on("click", function(){
        exp = +$('#exp').html()
        num = +$(this).next().val()
        if (num==$(this).attr("min")) {
            return false;
        }
        num = +$(this).next().val()-1
        exp = +exp-(-$(this).attr("cost"))
        $('#exp').html(exp)
        $(this).next().val(num)

    });
      $('#charparms :input:not(button)').each(function(){$(this).attr("disabled", true)});
      $("#charparms").submit(function(e) {
        $('#charparms :input:not(button)').each(function(){$(this).attr("disabled", false)});
        var url = $("#charparms").attr('action');
        $.ajax({
               type: "POST",
               url: url,
               data: $("#charparms").serialize(), // serializes the form's elements.
               success: function(data)
               {
                   $('#char_container').parent().html(data)
               }
             });
        e.preventDefault(); // avoid to execute the actual submit of the form.
    });
    </script>
    <button type="submit" name="charparmssubmit" value="Сохранить">Сохранить</button>
</form>
</div>