{% extends 'main/gameindex.html' %}
{% block navleft %}
{% load static %}
<script src="{% static 'main/rel_to_abs.js' %}"></script>
<div id="ambiance" class="hidden"></div>
 <li class="nav-item"><a class="nav-link" href="{% url 'game_index' %}?menu">Выбор Игры</a></li>
<div class="center hidden"><button id="modal_show" data-toggle="modal" data-target="#squarespaceModal" class="btn btn-primary center-block">Click Me</button></div>

<script>
        reload = function(id, url) {
            $('#'+id).parent().load(url)
        }
</script>
{% endblock %}


{% block left %}
{% if gm %}
{% include 'game/char_list.html' with parms=char_list_parms.parms %}
{% else %}
{% include 'game/char.html' with parms=char_parms.parms%}
{% endif %}
{% endblock %}


{% block mid %}
<div id="log">
    {% include 'game/action_log.html' with parms=action_parms.parms %}
</div>
{% endblock %}


{% block right %}
<div class="row" style="padding-bottom:20px;">
    <div class="col-md-12">
        {% include 'game/scenes.html' with parms=scene_parms.parms %}
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        {% include 'main/chat.html' %}
    </div>
</div>
{% endblock %}