{% extends 'main/gameindex.html' %}

{% block navleft %}
 <li class="nav-item"><a class="nav-link" href="{% url 'game_index' %}?menu">Выбор Игры</a></li>
<div class="center hidden"><button id="modal_show" data-toggle="modal" data-target="#squarespaceModal" class="btn btn-primary center-block">Click Me</button></div>
<div class="modal fade" id="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="modal_content">
        </div>
    </div>
</div>
<script>
        reload = function(id, url) {
            $('#'+id).parent().load(url)
        }
</script>
{% endblock %}


{% block left %}
{% if gm %}
{% include 'game/char_list.html' with parms=char_list_parms.parms %}
{% else %}
{% include 'game/char.html' with parms=char_parms.parms%}
{% endif %}
{% endblock %}


{% block mid %}
<div id="action_log" class="action_log_container">

</div>
{% endblock %}


{% block right %}
{% include 'game/scenes.html' with parms=scene_parms.parms %}
Include chat
{% endblock %}