{% extends 'main/gameindex.html' %}

{% block navleft %}
 <li class="nav-item"><a class="nav-link" href="{% url 'game_index' %}?menu">Выбор Игры</a></li>
{% endblock %}


{% block left %}
{% if gm %}
{% include 'game/char_list.html' with parms=char_list_parms.parms %}
{% else %}
{% include 'game/char.html' with parms=char_parms.parms%}
{% endif %}
{% endblock %}


{% block mid %}
<div id="action_log" class="action_log_container">

</div>
{% endblock %}


{% block right %}
1) Players Ingame (activate dat shit with ajax)
2) GM tools and shit
3) chat-z
{% endblock %}