{% extends 'tools/modal.html' %}
{% block title %}Блоки Влияния{% endblock%}
{% block form %}
{% load static %}
<script src="{% static 'tools/superformset.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'game/model_edit.css' %}" />
<div id="infsets_container">
    <form method="POST" id="modal_form" action="{{ action }}">
        {% csrf_token %}
         <input type="hidden" name="DELETE" id="delete_flag" value="false">
        {{ setform }}
        <div id="errors">
            {% for error in errors %}
            {{ error }}
            {% endfor %}
        </div>
        {{ formset.management_form }}
        <script type="text/html" id="blank_form">
            <fieldset class="hidden">
                {{formset.empty_form.as_p}}
            </fieldset>
        </script>
        <div id="infset">
            {% for form in formset %}
            <div class="influence">
                {{ form.as_p }}
            </div>
            {% endfor %}
        </div>
        <button type="button" id="add-inf">Добавить</button>
        <button type="button" id="delete-inf">Удалить</button>
        <button type="submit" id="submit_inf">Готово</button>
        <script>
            $('#add-inf').djangoInlineFormAdd({
                prefix: "{{ formset.prefix }}",
                deleteButtonId: "#delete-inf",
                containerId: "#infset",
                templateId: "#blank_form",
            });
        </script>
    </form>
    </div>
</div>
{% endblock %}