{% extends 'tools/modal.html' %}
{% block title %}{{ title }}{% endblock %}

{% block form %}
{% load extra_tags %}
    <form method="POST" id="modal_form" action="{{ action_url }}">
        {% csrf_token %}
        {{ rollform.id }}
         <div class="row">
                <div class="col-md-6">Параметр для броска</div>
                <div class="col-md-6">Имя параметра<div class="act_tooltip pull-right"><span class="pull-right glyphicon glyphicon-question-sign"></span><div class="act_tooltiptext"><small>Требуется при пустом поле "параметр". Если поле пустое туда подставится название выбранного параметра.</small></div></div></div>
            </div>
            <div class="row">
                <div class="col-md-6">{{ rollform.parm|add_class:"form-control" }}</div>
                <div class="col-md-6">{{ rollform.parm_name }}</div>
            </div>
            <div class="row">
                <div class="col-md-6">Ситуационный бонус</div>
                <div class="col-md-6">Сложность</div>
            </div>
            <div class="row">
                <div class="col-md-6">{{ rollform.free_bonus }}</div>
                <div class="col-md-6">{{ rollform.difficulty }}</div>
            </div>
        {{ visibilityforms.management_form }}
        <ul class="d-flex flex-row">
                {% for vform in visibilityforms %}
                {{ vform.id }}
                    <li class="p-2 col-md-6">
                        <h5>{{ vform.instance.player.get_char }}</h5>
                        <ul>
                            <li>
                                Виден кубик: {{ vform.visible_dice_roll }}
                            </li>
                            <li>
                                Виден бонус: {{ vform.visible_bonus }}
                            </li>
                            <li>
                                Видна сложность: {{ vform.visible_difficulty }}
                            </li>
                            <li>
                                Виден результат: {{ vform.visible_result }}
                            </li>
                            <li>
                                Видно пройдено\не пройдено: {{ vform.visible_passed }}
                            </li>
                        </ul>
                    </li>
                {% endfor %}
            </ul>
        <div class="clearfix"></div>
         <input type="hidden" name="DELETE" id="delete_flag" value="false">
    </form>
    {% endblock %}

{% block script %}
<script>
    $("#modal_form").submit(function(e) {
    var url = $("#modal_form").attr('action');
    e.preventDefault(); // avoid to execute the actual submit of the form.
    $.ajax({
           type: "POST",
           url: url,
           data: $("#modal_form").serialize(), // serializes the form's elements.
           success: function(data)
           {
               if (data.reload) {
                     $('#'+data.id).load(data.url)
                     $('#modal_close').click()
               } else {
                    $('#inner_content').parent().html(data)
               }
           }
         });


    });
    $("#modal_save").on("click", function(){
        $("#modal_form").submit()
    });
    {% if deletable %}
    $("#modal_delete").on("click", function(){
        $("#delete_flag").attr("value", true)
        $("#modal_form").submit()
    });
    {% endif %}
</script>
{% endblock %}