<div id="scenes">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'game/scenes.css' %}" />

    <div class="panel with-nav-tabs panel-default">
        <div class="panel-heading">
            {% if parms.gm %}
            <ul class="nav nav-tabs" style="min-height: 20px;">
                {% for scene in parms.scenes %}
                <li class="nav-item{% if parms.scene.pk == scene.pk %} active{% endif %}">
                    <a id="scn{{scene.pk}}" class="nav-link">{{scene.name}}</a>
                    {% if parms.scene.pk != scene.pk %}
                    <script>
                        $("#scn{{scene.pk}}").on("click", function(){
                            $("#scenes").parent().load("{% url 'scenes' scene.pk %}");
                        });
                    </script>
                    {% endif %}
                </li>
                {% endfor %}
                <li class="nav-item">
                    <a id="new_scene" class="nav-link">+</a>
                    <script>
                        $("#new_scene").on("click", function(){
                            $("#modal_content").load("{% url 'scene_edit' -1 %}");
                            $("#modal_show").click()
                        });
                    </script>
                </li>
            </ul>
            {% else %}
            <h4>{% if parms.scene %}{{ parms.scene.name }}{% endif %}</h4>
            {% endif %}
        </div>
    </div>
        {% if parms.scene %}
        <div class="panel-body">
            <div class="tab-content">
                <div class="tab-pane active">
                    <script>
                        $("#scnedit{{parms.scene.pk}}").on("click", function(){
                            $("#scenes").parent().load("{% url 'scene_edit' parms.scene.pk %}");
                        });
                    </script>
                    <i>{{ parms.scene.flavour }}</i>
                    <ul id="online">
                        {% for char in parms.chars %}
                            <li><span>{{char.online}}</span>: {{char.char}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            {% if parms.scene.pk %}
            {% if parms.gm %}
            <input type="button" id="del-scene" value="Редактировать">
            <script>
                $("#del-scene").on("click", function(){
                     $("#modal_content").load("{% url 'scene_edit' parms.scene.pk %}");
                     $("#modal_show").click()
                });
            </script>
            {% endif %}
            {% endif %}
            <script>
            {% if parms.gm %}
                setTimeout(function() {
                      $('#scenes').parent().load("{% url 'scenes' parms.scene.pk %}");
                    }
                , 60000);
            {% else %}
               setTimeout(function() {
                      $('#scenes').parent().load("{% url 'scenes' '-1' %}");
                    }
                , 60000);
            {% endif %}
            </script>
        </div>
    {% endif %}
</div>