<div id="scenes" class="scenes-container">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'game/scenes.css' %}" />

    <div class="panel with-nav-tabs panel-default">
        <div class="pic-header panel-heading">
            {% if parms.gm %}
            <ul class="nav nav-tabs" style="min-height: 20px;">
                {% for scene in parms.scenes %}
                <li class="nav-item{% if parms.scene.pk == scene.pk %} active{% endif %}">
                    <a id="scn{{scene.pk}}" class="nav-link">{{scene.name}}</a>
                    {% if parms.scene.pk != scene.pk %}
                    <script>
                        $("#scn{{scene.pk}}").on("click", function(){
                            $("#scenes").parent().load("{% url 'scenes' scene.pk %}");
                        });
                    </script>
                    {% endif %}
                </li>
                {% endfor %}
                <li class="nav-item">
                    <a id="new_scene" class="nav-link">+</a>
                    <script>
                        $("#new_scene").on("click", function(){
                            $("#modal_content").load("{% url 'scene_edit' -1 %}");
                            $("#modal_show").click()
                        });
                    </script>
                </li>
            </ul>
            {% else %}
            <h4>{% if parms.scene %}{{ parms.scene.name }}{% endif %}</h4>
            {% endif %}
        </div>
    </div>
        {% if parms.scene %}
        <div class="panel-body">
            <div class="tab-content">
                <div class="tab-pane active">
                    <script>
                        $("#scnedit{{parms.scene.pk}}").on("click", function(){
                            $("#scenes").parent().load("{% url 'scene_edit' parms.scene.pk %}");
                        });
                    </script>
                    <i>{{ parms.scene.flavour }}</i>
                    <ul id="online" style="list-style-type: none; padding-left: 10px;">
                        {% for char in parms.chars %}
                            <li><span class="dot dot--full {% if char.online == True %} green {% else %} red {% endif %}"></span>: {{char.char}}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="row pull-right" style="padding-right: 10px">
                <a id="load_ambiance" {% if parms.scene.ambiance == '' %}class="hidden" {% endif %}><span class="glyphicon glyphicon-music"></span><small>Загрузить эмбиенс сцены</small></a>
                <a id="stop_ambiance" class="hidden"><span class="glyphicon glyphicon-volume-off"></span><small>Остановить эмбиенс сцены</small></a>
                <script>
                    if ($('#ambiance').html() != '') {
                        $('#load_ambiance').attr("class", "hidden");
                        $('#stop_ambiance').attr("class", "");
                    }
                    $('#load_ambiance').on("click", function(){
                        $('#ambiance').append('<iframe src="{{ parms.scene.ambiance }}">');
                        $('#load_ambiance').attr("class", "hidden");
                        $('#stop_ambiance').attr("class", "");
                    });
                    $('#stop_ambiance').on("click", function(){
                        $('#ambiance').html('');
                        {% if parms.scene.ambiance != '' %}
                            $('#load_ambiance').attr("class", "");
                        {% endif %}
                        $('#stop_ambiance').attr("class", "hidden");
                    });
                </script>
            </div>
            <div class="clearfix"></div>
            {% if parms.scene.pk %}
            {% if parms.gm %}
            <div class="row" style="padding-right: 10px;">
                <input type="button" id="del-scene" class="btn btn-default pull-right" value="Редактировать">
            </div>
            <script>
                $("#del-scene").on("click", function(){
                     $("#modal_content").load("{% url 'scene_edit' parms.scene.pk %}");
                     $("#modal_show").click()
                });
            </script>
            {% endif %}
            {% endif %}
            <script>
            {% if parms.gm %}

                setTimeout(function() {
                      $('#scenes').parent().load("{% url 'scenes' parms.scene.pk %}");
                    }
                , 60000);
            {% else %}
               setTimeout(function() {
                      $('#scenes').parent().load("{% url 'scenes' '-1' %}");
                    }
                , 60000);
            {% endif %}
            </script>
        </div>
    {% endif %}
</div>