{% extends 'main/gamemenu.html' %}
{% block mid %}
{% load static %}
<script src="{% static 'tools/superformset.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'game/model_edit.css' %}" />
<form method="POST" id="setform">
    {% csrf_token %}
    <div class="formset">
    {{ formset.management_form }}
        <div class="hidden" id="langs_blank">{{formset.empty_form}}</div>
    <div id="items-form-container">
    {% for item_form in formset %}
        <div id="item-{{ forloop.counter0 }}">
            {{ item_form.id }}
            {{ item_form }}
        </div>
    {% endfor %}
    </div>
        <input type="button" id="pluslang" value="Добавить">
        <script>
            $('#pluslang').djangoInlineFormAdd({
                prefix: "{{ formset.prefix }}",
                containerId: "#items-form-container",
                templateId: "#langs_blank",
            });
        </script>
    </div>
    <input type="hidden" name="add_lang" value="true"/>
    <div class="formset">
        {{ groupformset.management_form }}
        <div class="hidden" id="groups_blank">{{groupformset.empty_form}}</div>
        <div id="groups-form-container">
        {% for form in groupformset %}
        <div id="group-{{forloop.counter0}}">
            {{ form.id }}
            <p>{{ form.DELETE }}</p>
            <p>{{ form.name }}</p>
            <p>{{ form.flavour }}</p>
            <p>Стоимость докупки: {{ form.cost_to_add }}</p>
            <p>Стомиость поднятия навыка в группе: {{ form.cost }}</p>
        </div>
        {% endfor %}
        </div>
        <input type="button" id="plusgroup" value="Добавить">
        <script>
            $('#plusgroup').djangoInlineFormAdd({
                prefix: "{{ groupformset.prefix }}",
                containerId: "#groups-form-container",
                templateId: "#groups_blank",
            });
        </script>
    </div>
    <button type="submit" class="save btn btaddn-default">Save</button>
    </form>
{% endblock %}