{% extends 'main/gameindex.html' %}
{% block left %}
{% load static %}
<link rel="stylesheet" href="{% static 'main/game_menu.css' %}">
        <div class="well">
            <div class="scrollhide" style="overflow-y: auto; overflow-x: hidden; height: 500px;">
                <div class="card">
                    <div class="card-content">
                    	<div class="card-header-orange">
                           <h1 class="card-heading">Мастер</h1>
                       	</div>
                       	<div class="card-body">
                     	  <p class="card-p">
                        <ul class="nav nav-pills nav-stacked tree">
                            {% for key, value in menu.owning.items %}
                            <li><label class="nav-header"><a href="{% url 'edit_setting' %}?setting={{ value.pk }}">{{ key }}</a></label>
                            <li class="divider"></li>
                                <ul class="nav nav-pills nav-stacked tree">
                                    {% for i in value.games %}
                                        <li><a href="{% url 'join_game' gamehash=i.key %}">{{ i.name }}</a></li>
                                    {% endfor %}
                                </ul>
                            </li>
                            {% endfor %}
                        </ul>
                        </p>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                    	<div class="card-header-orange">
                           <h1 class="card-heading">Игрок</h1>
                       	</div>
                       	<div class="card-body">
                     	  <p class="card-p">
                        <ul class="nav nav-pills nav-stacked tree">
                            {% for key, value in menu.playing.items %}
                                <li><label class="nav-header">{{ key }}</label>
                                    <li class="divider"></li>
                                    <ul class="nav nav-pills nav-stacked tree">
                                        {% for i in value %}
                                            <li><a href="{% url 'join_game' gamehash=i.key %}">{{i.name}}</a></li>
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% endfor %}
                        </ul>
                    </p>
                        </div>
                    </div>
                </div>
                <div class="card-bot">
                        <a class="btn btn-lg btn-success" id="newgame" href="{% url 'new_game' %}">
                        <i class="glyphicon glyphicon-dashboard"></i><span>Создать игру</span></a>
                </div>
            </div>
        </div>
{% endblock %}
{% block mid %}
{% endblock %}
{% block right %}
{% endblock %}