{% extends 'tools/base.html' %}
{% block content %}
{% with "left_pane" as leftid %}
{% with "right_pane" as rightid %}
{% with "mid_pane" as midid %}
<body>
    <div class="container-fluid">
	  <div class="row">
          <div class="col-md-2" id="left_pane">
              {% block left %}
              {% endblock %}
          </div>
          <div class="col-md-8" id="mid_pane">
              {% block mid %}
              {% endblock %}
          </div>
          <div class="col-md-2" id="right_pane">
              {% block right %}
              {% endblock %}
          </div>
        </div>
    </div>
      <div class="row">
          <div class="col-md-12" id="footer">
              {% block bot %}
              {% endblock %}
          </div>
      </div>
</body>
{% endwith %}
{% endwith %}
{% endwith %}
{% endblock %}