{% extends 'main/gameindex.html' %}
{% block left %}
              Мастер:<BR>
              {% for key, value in menu.owning.items %}
                Сеттинг <a href="{% url 'edit_setting' %}?setting={{ value.pk }}">{{ key }}</a>: <BR>
                {% for i in value.games %}
              &nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'join_game' gamehash=i.key %}">{{i.name}}</a><br>
                {% endfor %}
              {% endfor %}
<hr>
              Игрок:<BR>
              {% for key, value in menu.playing.items %}
               Сеттинг {{ key }}: <BR>
                {% for i in value %}
&nbsp;&nbsp;&nbsp;&nbsp;<a href="/game/join/{{ i.key }}">{{i.name}}</a><br>
                {% endfor %}
              {% endfor %}

                    <div class="pull-right">
                        <a class="btn btn-lg btn-success" id="newgame" href="{% url 'new_game' %}">
                        <i class="glyphicon glyphicon-dashboard"></i><span>Создать игру</span></a>
                    </div>
{% endblock %}
{% block mid %}
{% endblock %}
{% block right %}
{% endblock %}