{% extends 'main/gamemenu.html' %}
{% block mid %}
<div id="new_game">
    <p>{{ title }}</p>
    <form method="POST" id="newgameform" action="{% url 'new_game' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="hidden" name="act" value="{{ action }}"/>
    <button type="submit" class="save btn btn-default" id="newgamesave">Save</button>
    </form>
    {% if action == 'game' %}
    <a id="newsetting" href="{% url 'new_game' %}?setting">Создать Сеттинг</a>
    {% endif %}
    {{ form.errors }}
</div>
{% endblock %}