.charparm {
}
.charparm input[type=number] {
    border: 0;
    width: 30px;
    text-align: center;
    background-color: transparent;
}

.hidden {
    display: none;
}

.btnplus {
    width:1vw;
    height:1vw;
    padding: 0;
}

.char_buttons {
}

.btnminus {
    width:1vw;
    height:1vw;
    padding:0px;
}

.small-int {
    padding-left: 5px;
    min-width: 100px;
    max-height: 20px;
    padding: 0px;
}

.scene-select {
    min-width: 100px;
    max-height: 20px;
    padding: 0px;
}

.add_group_button {
    padding: 5px;
    margin-top: -5px;
    margin-right: 5px;
    border-style: groove;
    border-width: 1px;
    border-color: #469c46;
    border-radius: 15px;
    }

.group {
    margin: 0px;
    margin-bottom: 5px;
}

.glyphicon-triangle-right:hover {
    text-shadow: -2px 2px 5px #636161;
    position: relative;
    top: -2px;
    left: 2px;
}
.glyphicon-triangle-bottom:hover {
    text-shadow: -2px 2px 5px #636161;
    position: relative;
    top: -2px;
    left: 2px;
}

.dot {
    box-sizing: border-box;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: .125rem solid;
    display: inline-block;
}
.dot--full { background-color: currentColor; }
.green { color: limegreen; }
.red { color: orangered; }
