.charparm {
    display: flex;
    flex-basis: 0;
    flex-direction: row;
    flex-grow: true;
    position: relative;
}
.charparm input[type=number] {
    border: 0;
    width: 3vw;
    text-align: center;
    background-color: transparent;
}

.hidden {
    display: none;
}

.btnplus {
    width:1vw;
    height:1vw;
    padding: 0;
}

.char_buttons {
    width: 1vw;
    display: flex;
    flex-direction: column;
    float:right
}

.btnminus {
    width:1vw;
    height:1vw;
    padding:0px;
}

.small-int {
    padding-left: 5px;
    min-width: 100px;
    max-height: 20px;
    padding: 0px;
}

.scene-select {
    min-width: 100px;
    max-height: 20px;
    padding: 0px;
}

.add_group_button {
    padding: 5px;
    margin-top: -5px;
    margin-right: 5px;
    border-style: groove;
    border-width: 1px;
    border-color: #469c46;
    border-radius: 15px;
    }