.charparm {
    display: flex;
    flex-basis: 0;
    flex-direction: row;
    flex-grow: true;
    position: relative;
}
.charparm input[type=number] {
    border: 0;
    width: 3vw;
    text-align: center;
    background-color: transparent;
}

.hidden {
    display: none;
}

.btnplus {
    width:1vw;
    height:1vw;
    padding: 0;
}

.char_buttons {
    width: 1vw;
    display: flex;
    flex-direction: column;
    float:right
}

.btnminus {
    width:1vw;
    height:1vw;
    padding:0px;
}

